<body>
    <footer>
        <h5>Integrated Learning Platform</h5>
        <div class="social">
            <i class="fa-brands fa-linkedin"></i>
            <!-- <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i> -->
        </div>
    </footer>
    <i class="fa-brands fa-linkedin"></i>
</body>