<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
        <div class="container-fluid">
            <div class="home-title">
                <a class="navbar-brand" href="/">Integrated Learning Platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="middle">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/job">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/mentor">Mentorship</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/hackathon">Hackathons</a>
                        </li>
                    </ul>
                </div>
                <div class="logsign">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/signup">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav><br><br><br><br>
</body>