<% layout("/layout/boilerplate") -%>

    <body>
        <div class="cards row">
            <% for (const Hackathon of allHackathons) { %>
                <div class="card cols-lg-3 row-cols-md-2 row-cols-sm-1">
                    <img src="<%= Hackathon.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-img-overlay"></div>
                        <h5 class="card-title">
                            <%= Hackathon.title %>
                        </h5>
                        <p class="card-text">
                            <%= Hackathon.description %>
                        </p>
                        <p class="card-text">
                            <%= Hackathon.venue %>
                        </p>
                        <a href="/hackathon/apply" class="btn btn-success card-buy-btn hack-apply">Apply
                            Now</a>
                    </div>
                </div>
                <% } %>
        </div>
        <div class="apply-div">
            <a href="/hackathon/new" class="btn btn-primary" id="hack-new">Enlist Your Hackathon</a>
            <a href="/hackathon/admin" class="btn btn-primary" id="admin-btn">Admin Dashboard</a>
        </div>
    </body>