<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathons</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="cards row">
        <% for (const Hackathon of allHackathons) { %>
            <div class="card cols-lg-3 row-cols-md-2 row-cols-sm-1">
                <img src="<%= Hackathon.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-img-overlay"></div>
                    <h5 class="card-title">
                        <%= Hackathon.title %>
                    </h5>
                    <p class="card-text">
                        <%= Hackathon.description %>
                    </p>
                    <p class="card-text">
                        <%= Hackathon.venue %>
                    </p>
                    <a href="/hackathon/apply" class="btn btn-success card-buy-btn hack-apply">Apply
                        Now</a>
                </div>
            </div>
            <% } %>
    </div>
    <div class="apply-div">
        <a href="/hackathon/new" class="btn btn-primary" id="hack-new">Enlist Your Hackathon</a>
        <a href="/hackathon/admin" class="btn btn-primary" id="admin-btn">Admin Dashboard</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>