<% layout("/layout/boilerplate") -%>

    <body>
        <div class="container login-div">
            <div class="row login-row">
                <div class="log-col-6-off-3">
                    <h2 class="col-6 offset-3">Login</h2>
                    <form action="/login" method="post" class="needs-validation" novalidate>
                        <div class="form-group mt-2">
                            <label for="username" class="mt-1">Username:</label>
                            <input type="text" class="form-control mt-1" id="username" name="username"
                                placeholder="Enter Username" required>
                            <div class="valid-feedback">Looks Good!</div>
                            <div class="invalid-feedback">This field can't be empty!</div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="password" class="mt-1">Password:</label>
                            <input type="password" class="form-control mt-1" id="password" name="password"
                                placeholder="Enter Password" required>
                            <div class="valid-feedback">Looks Good!</div>
                            <div class="invalid-feedback">This field can't be empty!</div>
                        </div>
                        <button type="submit" class="btn login-btn btn-default btn-success mt-4">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>