<% layout("/layout/boilerplate") -%>

    <body>
        <div class="login">
            <h2>Login</h2>
            <form method="post" action="/login">
                <div class="mb-3">
                    <label for="loginemail" class="form-label">Email:</label>
                    <input type="email" class="form-control" name="email" id="loginemail" aria-describedby="emailHelp"
                        placeholder="Enter Your Email">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                        placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>